.PageNotFoundCategories{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3vh;
}
.PageNotFound-Category{
    margin-bottom: 2vh;
}
.subCategory{
    color: #E74037;
}
.image404 {
    width: 40%;
    margin: 2% 
}
.BackToHome{
    width: 15%;
    background-color: #E74037;
    color: white;
    padding: .3%;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;

}
.PageNotFound-SubCategories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;
}

@media (max-width:886px){

}
@media (max-width: 480px){ 
    .PageNotFoundCategories{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        gap: 3%;
        text-align: center;
        margin-top: 1vh;
    }
    .BackToHome{
        width:40%;
        background-color: #E74037;
        color: white;
        padding: 3%;
        margin: auto;
        margin-top: 5vh;
        border-radius: 10px;
    
    }
    .image404 {
        width: 90%;
        margin: 2% 
    }
    .PageNotFound-SubCategories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1%;
    }
}